<html>
	<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <script src="/static/jq.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
	<pre><div position="absolute" style="float:right"><a href="/graph"><button class="btn btn-large">Graph</button></a>   <a href="/add"><button class="btn btn-large">Add</button></a>    </div>
			{% for blog in blogs %}
			<h2 style="align:center">Title: {{blog.author}}</h2>
{{blog.content}} <br/>
{% if blog.file_present %}{% if blog.video %}
<video width="400" controls>
  <source src="/static/{{blog.file_path}}" type="video/mp4">
  <!--source src="mov_bbb.ogg" type="video/ogg"-->
  Your browser does not support HTML5 video.
</video>
{% else %}
<img src="/static/{{blog.file_path}}" alt="Invalid image">
{% endif %}{% endif %}
			<hr/>
Hits: {{blog.hits}} <br/>
		{% endfor %}
	</pre>
</html>
